<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    
    <table border="2px" class="table table-hover  table-bordered border-primary">
        <tbody>
            <thead>
                <th>BOOK ID</th>
                <th>BOOK TITLE</th>
                <th>BOOK DESCRIPTION</th>
                <th>BOOK PUBLISHED DATE</th>
                <th>AUTHOR NAME</th>
                <th>ACTION</th>
                <th>ACTION</th>
                <th>ACTION</th>
                
            </thead>

            <% for(let i  of books){ %>


            <tr>
                <td><%= i.bookId %></td>
                <td><%= i.bookTitle %></td>
                <td><%= i.bookdescription %></td>
                <td><%= i.publishedDate %></td>
                <td><%= authorObj["Author"+i.aId] %></td> 
                <td><a class="btn btn-outline-primary" href="/display/books/<%= i.bookId %>">VIEW</a></td>
                <td><a class="btn btn-outline-success" href="/update/books/<%= i.bookId %>">UPDATE</a></td>
                <td><a class="btn btn-danger" href="/delete/books/<%= i.bookId %>">DELETE</a></td>
            </tr> 
            
            <% } %>
        </tbody>
    </table>
    <a class="btn btn-secondary" href="/delete/books">Delete All</a>

</body>
</html>